<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidmedinaospina.appnumercico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusqInc"
            android:label="@string/title_activity_busq_inc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Bisecc"
            android:label="@string/title_activity_bisecc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReglaFal"
            android:label="@string/title_activity_regla_fal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PuntoFijo"
            android:label="@string/title_activity_punto_fijo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Newto"
            android:label="@string/title_activity_newto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Secant"
            android:label="@string/title_activity_secant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RaicesMult"
            android:label="@string/title_activity_raices_mult"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>